.container{
    /* border: 1px solid red; */
    height: 400px;
    width: 400px;
    margin-top: 100px;
    box-shadow: rgba(5, 5, 221, 0.25) 0px 50px 100px -20px, rgba(5, 103, 93, 0.3) 0px 30px 60px -30px, rgba(6, 119, 57, 0.35) 0px -2px 6px 0px inset;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    /* background-color: teal; */
}

.heading{
    margin-top: 20px;
}
.start{
    color: blue;
}
.end{
    color: palevioletred;
}
.nameInput>input{
  height: 50px;
  font-size: 20px;
  width: 90%;
  margin-top: 50px;
}

.selectRoom>select{
    height: 50px;
    width: 90%;
    margin-top: 40px;
    font-size: 18px;
}

.formSubmit{
    height: 50px;
    width: 90%;
    border-radius: 50px;
    margin-top: 40px;
    background-image: linear-gradient(blue, palevioletred);
    font-size: 25px;
    color: aliceblue;
    cursor: pointer;
    border: none;

}
.formSubmit:hover{
    background-image: linear-gradient(palevioletred, blue);


}

